<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  <form class="post-box">
    <h1>San Francisco, California</h1>

    <img class="post-box-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia2.popsugar-assets.com%2Ffiles%2F2013%2F02%2F06%2F1%2F192%2F1922398%2FnetimgEXhE43.xxxlarge%2Fi%2F14-Fabulous-Family-Activities-San-Francisco-Bay-Area.jpg&f=1&nofb=1" alt="San Francisco">

    <p> By <a class="author-name" href="Syed Faiz">John Doe:</a></p>
    <p>This is where I'm going to write about San Francisco. I've lived close to San Francisco for around five years. The city, as referred by Bay Area residents, is known for its cool weather all-year round, summer fog and vibrant culture. The most famous landmark for San Francisco is the Golden Gate Bridge as seen in the image in below with downtown in the background.</p>

    <p class="post-date">Posted On: 10/02/20, Saturday at 10:20pm.</p>

    <a class="like-wrapper" href="Syed Faiz"><svg class="like-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M14.6 8H21a2 2 0 0 1 2 2v2.104a2 2 0 0 1-.15.762l-3.095 7.515a1 1 0 0 1-.925.619H2a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1h3.482a1 1 0 0 0 .817-.423L11.752.85a.5.5 0 0 1 .632-.159l1.814.907a2.5 2.5 0 0 1 1.305 2.853L14.6 8zM7 10.588V19h11.16L21 12.104V10h-6.4a2 2 0 0 1-1.938-2.493l.903-3.548a.5.5 0 0 0-.261-.571l-.661-.33-4.71 6.672c-.25.354-.57.644-.933.858zM5 11H3v8h2v-8z"/></svg> Like</a>
    <a class="comment-wrapper" href="Syed Faiz"><svg class="comment-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M5.455 15L1 18.5V3a1 1 0 0 1 1-1h15a1 1 0 0 1 1 1v12H5.455zm-.692-2H16V4H3v10.385L4.763 13zM8 17h10.237L20 18.385V8h1a1 1 0 0 1 1 1v13.5L17.545 19H9a1 1 0 0 1-1-1v-1z"/></svg> Comment</a>

    <textarea class="comment-text" rows="4" cols="50" name="description"></textarea> <button class="btn-comment" type="add">Comment</button>

  </form>
</body>
</html>
