<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/styleapi.css">
    <script src="script.js"></script>
</head>
<body>
    <h1 class="main-heading">Photos</h1>
    <h2 id="imageCount"></h2>
    <div class="wrap" id="wrap"></div>
    <button class="load-img" id="load-img" onclick="showData()">Load More</button>

</body>
</html>
