<!--Name: Syed Faiz
Assignemt 04: HTML
CSC317 Professor Souza-->
<!-- #1 The h tag is used for the head-->
<link rel="stylesheet" href="public/css/loginStyle.css">
  <form  class="container">

<h1>Login</h1>
<!-- #2 The login page to be put inside the form tag and not the table tag as part of the assignment requirements -->
<form>
  <!--#3 Used label tag for label and a placeholder for user to input the data. <B> tag is used for bold-->
  <label for="Username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="Username" required> <br><br>
  <!--#4 Same process repeat for password see #3 -->
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required> <br><br>
  <!--#4 Used button tag to add submit buton for user to click-->
    <button type="submit" class="btn">Submit</button>
  </form>
